body 
{
    display: flex;
    flex-direction: column;
    
}

main
{
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 1px solid black;
    
}

article
{
    flex: 2;
    overflow-y: auto;
    color: blueviolet;
}

aside
{
    flex: 1;
    overflow-y: auto;
}

footer
{
    padding: 10px;
    margin: 10px;
}
